::selection {
  background: #22d3ee;
  color: #fff;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgb(250 250 250);
}
::-webkit-scrollbar-thumb {
  background: #22d3ee;
  transition: 0.3s ease;
  border: 3px solid rgb(250 250 250);
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
  background: #1ba4b9;
}
